body {
	font-family: 'Lucida Grande' sans-serif;
	color:#666666;
}

/* Header */
.header {
	height: 125px;
	text-align: center;
}

.header h1 {
	color: #666666;
	font-size: 47px;
	letter-spacing: 1px;
	margin: 47px 0 0 0;
}

/* Content */
.main-content h2 {
	color: #f07c17;
	font-size: 20pt;
	margin: 0 0 30px 0;	
}

.main-content p,
.main-content li {
	font-size: 12pt;
	line-height: 24pt;
}

/* Navigator Panel */
.nav-panel img {

	width:374 px;
	border: #cccccc solid 1px;
	margin-top: 30px;
	padding: 0;

}

.nav-box {
	width: 374px;
	border: #cccccc solid 1px;
	margin-top: 35px;
	padding: 0;

}
.nav-box-inner {
	margin: 30px 0 35px 32px; 
}





